Uke3-5/litenfallskjerm.txt
Uke3-5/middelsfallskjerm.txt
Uke3-5/litenfallskjerm.txt
Uke3-5/aksfiler/*
Uke45-47/integral.txt
Uke45-47/fallskjerm.txt
Uke45-47/vogn.txt
*/test.py
*/test/*
*/microbit/*
